@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uuhjfr');
  src:  url('fonts/icomoon.eot?uuhjfr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uuhjfr') format('truetype'),
    url('fonts/icomoon.woff?uuhjfr') format('woff'),
    url('fonts/icomoon.svg?uuhjfr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}