h1 {
  margin: 0 0 10px;
}

body {
  display: grid;
  height: 100vh;
  background-color: #232323;
}

#container {
  place-self: center;
  /* background-color: green; */
  color: #dcdcdc;
  text-align: center;
}

#game {
  display: grid;
  padding: 15px;
  border-radius: 15px;
  box-shadow: #202020 10px 10px 10px, #272727 -10px -10px 10px;
}

#game div {
  cursor: pointer;
  transition: .3s;
}